::selection {
  background-color: rgba(213, 64, 17, 0.7);
  color: #f9f9f6;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #08070c;
}
::-webkit-scrollbar-thumb {
  background: rgba(213, 64, 17, 0.4);
  border-radius: 6px;
}
