---
import { Image } from 'astro:assets';
import Layout from '@layout/Layout.astro'
import ErrMarquee from '@components/ErrMarquee'
import ErrContact from '@components/ErrContact.astro'
---

<Layout title="404 - Page Not Found" description="Oops! The page you are looking for does not exist.">
  <section class='flex flex-col items-center justify-center pt-16'>
    <div class='relative'>
			<ErrMarquee client:only="react" />
      <Image
        src='/heroimage.webp'
        alt='Mars Planet image'
				height={300}
				width={300}
        class='absolute z-10 top-12 right-96 drop-shadow drop-shadow-xl drop-shadow-color-white/5'
      />
      <div
        class='z-20 absolute top-[3.4rem] right-[24.4rem] rounded-full w-[288px] h-[288px] bg-gradient-to-br from-black via-black/20 to-white/5'
      >
      </div>
    </div>
		<ErrContact />
  </section>
</Layout>
